@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {
    position: absolute;
}

header {

    width: 1600px;
}

.mail {
    margin-right: 55px;
    
}


.kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 34px;
    background: #20242D;
    color: #FFFFFF;
    
}
.location {
    margin-right: 840px;
    margin-left: 50px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

.kontakt div{
    margin-right: 60px;
    
}
.kontakt a {
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
    text-decoration: none;

}

.navigation {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #EFF1F5;
    box-sizing: border-box;
    width: 1600px;
    height: 57px;
    
}

.list-one {
    color: black;
}

.home-page {
    color: #FF7129;
}


.navigation ul {
    list-style-type: none;
    margin-left: 765px;
    

    
    
}


.navigation ul li {
    float: right;
    

    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    
    
}



.logo {
    
    margin-top: 10px;
    padding-left: 50px;
}



.navigation li a {

    
    text-align: center;
    padding: 25px;
    text-decoration: none;
}





.photopanel {
    width: 1600px;
    height: 844px;
    background-image: url(/img/photopanel.jpg);

    mix-blend-mode: multiply;
    opacity: 0.9;
}

.photopanel:after {
    content: "";
    
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
    opacity: 0.9;
    mix-blend-mode: multiply;
    z-index: -1;
}

h1 {
    position: absolute;
    width: 961px;
    height: 111px;
    left: 320px;
    top: 271px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;

    color: #FFFFFF;
    z-index: 1;
}

.services {
    position: absolute;
    width: 508px;
    height: 48px;
    left: 546px;
    top: 468px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    color: #FFFFFF;
    z-index: 1;
}

.scroll {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 778px;
    top: 751px;
    z-index: 1;

}

.money {
    position: absolute;
    width: 187px;
    height: 49px;
    left: 706px;
    top: 596px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    background: #FF7129;
    

    color: #FFFFFF;
    z-index: 1;

}

.solar {
    
    width: 379px;
    height: 145px;
    left: 50px;
    top: 140px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 145px;

    opacity: 0.3;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.energy {
    
    width: 444px;
    height: 145px;
    left: 1106px;
    top: 408px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 145px;
    
    opacity: 0.3;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.your-home {
    display: flex;
    width: 1600px;
    height: 870px;
}

.house {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 200px;
    top: 1067px;
}

.text-position{
    position: absolute;
    width: 535px;
    height: 216px;
    left: 865px;
    top: 1100px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* main */

    color: #20242D;
}

h2.title {
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;

    color: #20242D;

    border-left: 1px solid #FF7129;
    
    padding-left: 16px;
}



.info {
    position: absolute;
    width: 217px;
    height: 116px;
    left: 837px;
    top: 987px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;

    opacity: 0.2;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #20242D;
}

.back-solar {
    position: absolute;
    width: 535px;
    height: 606px;
    left: 0px;
    top: 1034px;
}




.down-navigation {
    display: flex;
    background: #20242D;

    position: absolute;
    width: 100%;
    
    margin-top: 0;
    
}

.footer-logo {
    padding-left: 50px;
    margin-top: 76px;
    

}

.lower-menu {
    display: flex;
    margin-left: 300px;
    margin-top: 66px;
    list-style-type: none;
    align-items: center;
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    

}

.list-end{
    margin-left:60px;
    text-decoration: none;
    color: #FFFFFF;
    

}

button.button-thone {
    margin-left: 200px;
    background: #20242D;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 187px;
    height: 49px;

    box-shadow: 0px 0px 0px 1px #FF7129;
}

.the-end{
    display: flex;
    list-style-type: none;
    border-top: 1px solid#7B7E85;
    margin-top: 60px;
    margin-left: -130px;
    margin-right: -10px;
    padding-left: 0;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 18px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    }

.end{
    text-decoration: none;
    color: #7B7E85;
}





.about-house{
    width: 1600px;
    height: 350px;
    background-image: url(/img/roof-us.jpg);
}

.about-house:after {
    content: "";
    
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
    opacity: 0.9;
    mix-blend-mode: multiply;
    z-index: -1;
}

.about{
    position: absolute;
    width: 313px;
    height: 116px;
    left: 173px;
    top: 142px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;

    opacity: 0.3;
    
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.o-nas{
    position: absolute;
    width: 130px;
    height: 47px;
    left: 200px;
    top: 255px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;

    color: #FFFFFF;

    border-left: 1px solid #FF7129;
    padding-left: 15px;
}

.about-block{
    width: 1600px;
    height: 450px;
}


.back-solar-about{
    position: absolute;
    width: 500px;
    height: 550px;
    left: 0px;
    top: 562px;
}

.text-block{
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    position: absolute;
    display: flex;
    left: 200px;
    top: 500px;
}

.first-two-parag{
    width: 530px;
}

.last-paragraph{
    width: 534px;
    margin-left: 70px;
}



.projekt-house{
    width: 1600px;
    height: 200px;
}

.gallery{
    position: absolute;
    width: 398px;
    height: 116px;
    left: 174px;
    top: 70px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    
    opacity: 0.3;
    
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #20242D;
}

.projekty{
    position: absolute;
    width: 181px;
    height: 47px;
    left: 205px;
    top: 180px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;

    color: #20242D;

    border-left: 1px solid #FF7129;
    padding-left: 15px;

}

.projekt-img{
    width: 1600px;
    height: 700px;
    margin-top: 50px;
}

    .roof-red-1{
        opacity: 0.5;
}

.roof-red{
    margin-left: 155px;
}

.roof-red-2{
    margin-left: 155px;
    opacity: 0.5;
}

.previous-round{
    text-decoration: none;
    padding: 0px 26px 0px 23px;
    background-color: #FF7129;
    color: #FFFFFF;
    border-radius: 50%;
    font-family:  Gilroy;   
    font-size: 60px;
}

.previous-round:hover {
    background-color: #ddd;
    color: black;
}

.left-arrow{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 200px;
    top: 569px;
}

.next-round{
    text-decoration: none;
    padding: 0px 23px 0px 26px;
    background-color: #FF7129;
    color: #FFFFFF;
    border-radius: 50%;
    font-family:  Gilroy;   
    font-size: 60px;

}

.right-arrow{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1350px;
    top: 569px;
}

.next-round:hover {
    background-color: #ddd;
    color: black;
}

.num-one{
    position: absolute;
    width: 9px;
    height: 24px;
    left: 786px;
    top: 861px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    color: #000000;
}
.num-big{
    position: absolute;
    width: 28px;
    height: 24px;
    left: 803px;
    top: 861px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #7B7E85;
}


.posit-kontakt{
    width: 1600px;
    height: 642px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.element-kontakts{
    display: block;
    margin-top: 178px;
    margin-left: 205px;

}

.el-k{
    margin-bottom: 50px;
}

.text-p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}

.address-k{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
    padding-left: 13px;

}

.mail-k{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
    padding-left: 13px;
}

.tel-k{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
    padding-left: 13px;
}




.big-map{
    margin-top: 100px;
}









